<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>$title$</title>
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">

    $if(pageCss)$
      <link href="/css/$pageCss$.css" rel="stylesheet">
    $endif$

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
</head>

<body>
<div class="container">
    <div id="nav">
        <div id="logo">
            <a href="/">
                <img src="/images/me.png"> 
            </a>
        </div>
        <div id="menu">
            <div id="border-group">
                <a href="/">
                    <h1>Andrew Russell</h1>
                </a>
                
            <ul>
                <li>
                    <a class="$if(current-page-index)$ current-page $endif$" href="/index.html">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                        </span>
                        Home
                    </a>
                </li>
                <li>
                    <a class="$if(current-page-about)$ current-page $endif$" href="/about.html">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                        </span>
                        About
                    </a>
                </li>
                <li>
                    <a class="$if(current-page-posts)$ current-page $endif$" href="/posts.html">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                        Posts
                    </a>
                </li>
                <li>
                    <a class="$if(current-page-projects)$ current-page $endif$" href="/projects.html">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                        </span>
                        Projects
                    </a>
                </li>
                <li id="social">
                    <a href="https://github.com/ahrussell" target="blank">
                        <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/andrew-russell-7a160a77/" target="blank">
                        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="title">
            <h1>$title$</h1>
        </div>

        $body$
    </div>
</div>
</body>
</html>
